.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }

  /*heading*/
  
  .portfolio span:nth-of-type(1) {
    color: var(--purple1);
    font-size: 2.5rem;
    font-weight: bold;
  }

  .portfolio .swiper{
    /*bütün slaytlar bir ekranda görünebilir olsun diye*/
    overflow: visible!important;
  }
  .portfolio-slider {
    margin-top: 3rem;
    width: 100%;
  }
  .portfolio-slider .swiper-slide{
    width: 20rem;
  }

  .portfolio img {
   width: 400px;
   height: 120px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  }

  @media (min-width: 320px) and (max-width: 479px) {
    .portfolio img {
      transform: scale(0.7);  
    }
    .portfolio-slider {
      width: 270%;
    }
    }
  
    @media (min-width: 480px) and (max-width: 599px){
      .portfolio img {
        transform: scale(0.8);  
      }
      .portfolio-slider {
        width: 270%;
      }
    }
    @media (min-width: 600px) and (max-width: 799px){
      .portfolio img {
        transform: scale(0.8);  
      }
      .portfolio-slider {
        width: 130%;
      }
    }
    @media (min-width: 800px) and (max-width: 1023px){
      .portfolio img {
        transform: scale(0.8);  
      }
      .portfolio-slider {
        width: 100%;
      }
    }
    @media (min-width: 1024px) and (max-width:1199px){
      .portfolio img {
        transform: scale(0.8);  
      }
      .portfolio-slider {
        width: 100%;
      }
    }
    @media (min-width:1200px) and (max-width: 1439px){
      .portfolio img {
        transform: scale(0.9);  
      }
      .portfolio-slider {
        width: 100%;
      }
    }
    
    @media (min-width:1440px) and (max-width: 1600px){
      .portfolio img {
        transform: scale(1);  
      }
      .portfolio-slider {
        width: 100%;
      }
    }