.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
  }
  .f-left{
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    left:10rem;
    top:11rem;
}
  .f-right{
    display: flex;
    position: relative;
    flex:1;
    flex-direction: column;
    gap:0rem;
    left:-22rem;
    top:-4rem;
}
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
  }

  @media screen and (max-width: 480px){
    .footer {
      margin-top: 0;
      flex-direction: column;
      gap: 1rem;
      width: 25rem;
      position: absolute;
      padding: 0;
    }
    .footer>img{
      width: 700px;
      height: 700px;
  }
  
    .f-left {
      margin-top: 1rem;
      margin-left: -6rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      transform: scale(0.7);
    }

    .f-content{
      
      display: flex;
      margin-top: 0rem;
        position: absolute;
      margin-left: -16rem;
      flex-direction: column;
      transform: scale(0.6);
    }
  }