.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
  }
  .f-left{
    position: absolute;
    transform: scale(0.9);
    left:10rem;
    top:12rem;
}
  .f-right{
    display: flex;
    position: relative;
    flex:1;
    flex-direction: column;
    gap:0rem;
    left:-22rem;
    top:-4rem;
}
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
  }

  @media screen and (max-width: 480px){

    .footer>img{
      width: 700px;
      height: 700px;
  }
  
    .f-left {
      margin-top: 3rem;
      margin-left: -2.5rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      transform: scale(1);
    }

    .f-content{
      
      display: flex;
      margin-top: 0rem;
        position: absolute;
      margin-left: -16rem;
      flex-direction: column;
      transform: scale(0.6);
    }
  }

  @media screen and (max-width: 320px){
    .footer {
      margin-top: 0;
      flex-direction: column;
      gap: 1rem;
      width: 100vh;
      position: absolute;
      padding: 0;
    }
    .footer>img{
      width: 700px;
      height: 700px;
  }
  
    .f-left {
      margin-top: 3.4rem;
      margin-left: -3rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      transform: scale(1.2);
    }
  }
  @media screen and (max-width: 375px){
    .footer>img{
      width: 700px;
      height: 700px;
  }
  
    .f-left {
      margin-top: 3rem;
      margin-left: -2.5rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      transform: scale(1);
    }

    .f-content{
      
      display: flex;
      margin-top: 0rem;
        position: absolute;
      margin-left: -16rem;
      flex-direction: column;
      transform: scale(0.8);
    }
  }
  @media screen and (max-width: 425px){
    .footer>img{
      width: 700px;
      height: 700px;
  }
  
    .f-left {
      margin-top: 3rem;
      margin-left: -2.5rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      transform: scale(1);
    }

    .f-content{
      
      display: flex;
      margin-top: 0rem;
        position: absolute;
      margin-left: -16rem;
      flex-direction: column;
      transform: scale(0.6);
    }
  }
  
  @media screen and (max-width: 768px){
  
  }
  @media screen and (max-width: 1024px){
  
  }
  @media screen and (max-width: 1440px){
  
  }